{% extends 'home.html' %}


{% block container %}
    <el-skeleton :rows="12" animated :loading="isLoading">
    <div class="generate">
        <div>
            <h2>Select your colour and get a palette!</h2>
            <p>Get random palette when generate without picking colour</p>

            <el-button type="primary" @click="generateColor">Generate</el-button>
        </div>

        <el-form class="form">
            <el-form-item>
                Pick Colour Here: <br/>
                <el-color-picker v-model="colorInput" color-format="rgb"></el-color-picker>
            </el-form-item>
        </el-form>
    </div>

    <hr>

    <div class="color" v-if="colorResult.length!==0">
        <div class="container text-center">
          <div class="row">
            <div class="col color-item" v-for="(item, index) in colorResult" :style="{backgroundColor: `rgb(${item.join(',')})`}" :key="index">
              <span>
                    [[ `rgb(${item.join(',')})` ]]
                </span>
            </div>
          </div>
        </div>
    </div>

    <div class="button">
        <el-button type="primary" v-if="colorResult.length!==0"  @click="saveColor">Save Palette</el-button>
    </div>

{% endblock %}