<!doctype html>
{% load my_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forums</title>
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/details.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/sharing">Back</a>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-white bg-primary">
                        Created By: {{ sharing_obj.user.username }} <br>
                        Created Time: {{ sharing_obj.create_date|date:'Y-m-d' }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ sharing_obj.title }}</h5>
                        <p class="card-text">{{ sharing_obj.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        {% csrf_token %}
        <h3>Comment</h3>
        <form>
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter your comment here" rows="3" v-model="messageContent"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" @click="sendMessage('{{ sharing_obj.nid }}')">Send</button>
        </form>

        <ul class="list-group mb-4 mt-4">
            {% for comment in comment_list %}
                <li class="list-group-item">
                    <strong>{{ comment.user.username }}:</strong> {{ comment.content }}
                    <br>
                    <small class="text-muted">{{ comment.create_date|date:'Y-m-d' }}</small>
                    <button class="btn btn-link float-right" @click="replyMessage('{{ sharing_obj.nid }}', '{{ comment.nid }}')">Reply</button>
                </li>
                {% for sub in comment.sub_comment %}
                    <li class="list-group-item border-left pl-4 ml-3 bg-light">
                        {% if sub.user.avatar %}
                            <img src="{{ sub.user.avatar.url }}" class="rounded-circle mr-2" style="width: 35px; height: 35px;" alt="User Avatar">
                        {% else %}
                            <img src="/media/avatar/default_avatar.jpg" class="rounded-circle mr-2" style="width: 35px; height: 35px;" alt="Default Avatar">
                        {% endif %}
                        <strong>{{ sub.user.username }} @ {{ comment.user.username }}</strong>
                        <p>{{ sub.content }}</p>
                        <small class="text-muted">{{ sub.create_date|date:'Y-m-d' }}</small>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>



<script src="/static/vue/vue.js"></script>
<script src="/static/elementui/index.js"></script>
<script src="/static/axios/axios.min.js"></script>
<script src="/static/jquery/jquery.min.js"></script>
<script>
    axios.interceptors.request.use(
        request => {
            if (request.method !== 'get') {
                let csrf_token = document.querySelector('input[name = "csrfmiddlewaretoken"]').value
                request.headers['X-CSRFToken'] = csrf_token
            }
            return request
        },
    )
    axios.interceptors.response.use(
        response => {
            return response.data
        }
    )

    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                messageContent: ''
            }
        },

        methods: {
            sendMessage(nid) {
                axios.post(`/ColourPalette/comment_share/${nid}/`, {content: this.messageContent}).then(res => {
                    if (res.code !== 200) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.reload()
                    }, 1000)
                })
            },

            replyMessage(nid, pid) {
                this.$prompt('Leave your reply here', 'Reply', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                }).then(({value}) => {
                    axios.post(`/ColourPalette/comment_share/${nid}/`, {content: value, pid: pid}).then(res => {
                        if (res.code !== 200) {
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Invalid Input'
                    });
                });
            },
        }
    })

</script>
</body>
</html>