<!doctype html>
{% load my_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palette Details</title>
    <link rel="stylesheet" href="/static/css/film.css">
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="nav">
        <div class="container">
            <a href="/home"><h2>Go back to Palettes</h2></a>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <h2>{{ color_obj.title }}</h2>

            <div class="details">
                <span class="date">Published:{{ color_obj.create_time|date:'Y-m-d' }}</span>

                <span class="author">Publisher:{{ color_obj.user.username }}</span>

                <img style="width: 50px; border-radius: 50%" src="{{ color_obj.user.avatar.url }}" alt="">
            </div>

            <div class="color" id="color" data-color="{{ color_list }}">
                <div class="container text-center">
                  <div class="row">
                    <div class="col color-item" v-for="(item, index) in colorResult" :style="{backgroundColor: `rgb(${item.join(',')})`}" :key="index">
                      <span>
                            [[ `rgb(${item.join(',')})` ]]
                        </span>
                    </div>
                  </div>
                </div>
            </div>

            <el-button class="fix-btn" type="primary" @click="saveColor">Save to my Library</el-button>
            <el-button @click="collect('{{ color_obj.nid }}')">save to personal collect</el-button>
            <el-button @click="sharing">sharing color</el-button>
            <div class="article_agree">
                <div class="agree" @click="film_digg($event, '{{ color_obj.nid }}')">
                    <div
                         class="digg_icon {{ color_obj|is_user_digg:request }}">
                            <svg class="icon- {{ color_obj|is_user_digg:request }}" viewBox="0 0 1024 1024"
                                 xmlns="http://www.w3.org/2000/svg" width="28"
                                 height="28">
                                <path d="M736 128c-65.952 0-128.576 25.024-176.384 70.464-4.576 4.32-28.672 28.736-47.328 47.68L464.96 199.04C417.12 153.216 354.272 128 288 128 146.848 128 32 242.848 32 384c0 82.432 41.184 144.288 76.48 182.496l316.896 320.128C450.464 911.68 478.304 928 512 928s61.568-16.32 86.752-41.504l316.736-320 2.208-2.464C955.904 516.384 992 471.392 992 384c0-141.152-114.848-256-256-256z"
                                      fill="#fff"></path>
                            </svg>

                            <svg class="icon- {{ color_obj|is_not_user_digg:request }}" viewBox="0 0 1024 1024"
                                 xmlns="http://www.w3.org/2000/svg" width="28"
                                 height="28">
                                <path d="M512 928c-28.928 0-57.92-12.672-86.624-41.376L106.272 564C68.064 516.352 32 471.328 32 384c0-141.152 114.848-256 256-256 53.088 0 104 16.096 147.296 46.592 14.432 10.176 17.92 30.144 7.712 44.608-10.176 14.432-30.08 17.92-44.608 7.712C366.016 204.064 327.808 192 288 192c-105.888 0-192 86.112-192 192 0 61.408 20.288 90.112 59.168 138.688l315.584 318.816C486.72 857.472 499.616 863.808 512 864c12.704.192 24.928-6.176 41.376-22.624l316.672-319.904C896.064 493.28 928 445.696 928 384c0-105.888-86.112-192-192-192-48.064 0-94.08 17.856-129.536 50.272l-134.08 134.112c-12.512 12.512-32.736 12.512-45.248 0s-12.512-32.736 0-45.248L562.24 196c48.32-44.192 109.664-68 173.76-68 141.152 0 256 114.848 256 256 0 82.368-41.152 144.288-75.68 181.696l-317.568 320.8C569.952 915.328 540.96 928 512 928z"
                                      fill="#fff"></path>
                            </svg>
                    </div>
                        <span class="digg_text">{{ color_obj.digg_count }}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="comment">
        {% csrf_token %}
        <div class="container">
             <h2>Comments</h2>
            <textarea class="input" v-model="comment"></textarea>
            <el-button @click="addComment('{{ color_obj.nid }}')">Submit</el-button>

            <ul class="comment_list">
                {% for comment in comment_list %}
                    <li>
                        <span>user: {{ comment.user.username }}</span>
                        <div class="content">
                            {{ comment.content }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<script src="/static/vue/vue.js"></script>
<script src="/static/elementui/index.js"></script>
<script src="/static/axios/axios.min.js"></script>
<script src="/static/jquery/jquery.min.js"></script>

<script>
    axios.interceptors.request.use(function(request){
        if (request.method === 'post') {
                let csrf_token = document.querySelector('input[name = "csrfmiddlewaretoken"]').value
                request.headers['X-CSRFToken'] = csrf_token
            }
            return request
    })

    axios.interceptors.response.use(function (response) {
        return response.data;}
    )
    {#Reference: https://stackoverflow.com/questions/52737078/how-can-you-use-axios-interceptors, https://stackoverflow.com/questions/65485435/how-can-i-send-a-csrf-token-in-a-form#}
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                number: 1,
                comment: '',
                colorResult: []
            }
        },

        mounted() {
            let box = document.getElementById('color')
            let colorResult = box.getAttribute('data-color')
            this.colorResult = eval(colorResult)
        },

        methods: {
            addComment(nid) {
                axios.post(`/ColourPalette/comment/${nid}/`, {comment_content: this.comment}).then(response => {
                    if (response.code) {
                        this.$message.error(response.msg)
                        return
                    }
                    this.$message.success(response.msg)
                })
            },

            // Like
            film_digg(e, nid) {
                let likeButton = document.querySelector('.digg_icon')
                let svg1 = document.querySelector('.digg_icon svg:nth-child(1)')
                let svg2 = document.querySelector('.digg_icon svg:nth-child(2)')
                axios.post(`/ColourPalette/film/digg/${nid}/`).then(response => {
                    if (response.code) {
                        this.$message.error(response.msg)
                        return
                    }
                    $('.digg_text').text(response.data)
                    this.$message.success(response.msg)
                    if (response.isDigg) {
                        likeButton.classList.add('active')
                        svg1.classList.add('active')
                        svg2.classList.remove('active')
                        return
                    }
                    likeButton.classList.remove('active')
                    svg1.classList.remove('active')
                    svg2.classList.add('active')
                })
            },

            saveColor() {
                axios.post('/ColourPalette/film/', {colorResult: JSON.stringify(this.colorResult)}).then(response => {
                    this.$message.success('Save successfully')
                })
            },

            collect(nid) {
                axios.post('/ColourPalette/collect/', {nid: nid}).then(res => {
                    this.$message.success('Save successfully')
                })
            },
            sharing() {
                const url = location.href.toString()
                console.log(url)
                this.$message.success('sharing success')
            }
        }
    })
</script>
</body>
</html>