<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="header">
        <el-dropdown style="color: #fff; cursor: pointer">
          <span class="el-dropdown-link">
            <i class="el-icon-user-solid"></i>
              {{ request.user.username }}
          </span>
          <el-dropdown-menu slot="dropdown">
              {% if not user_info.name %}
              <a href="/user">
                  <el-dropdown-item>setup profile</el-dropdown-item>
              </a>
              {% endif %}
              {% if user_info.name %}
              <a href="/userinfo">
                  <el-dropdown-item>account detail</el-dropdown-item>
              </a>
              {% endif %}
              <a href="/logout">
                  <el-dropdown-item>logout</el-dropdown-item>
              </a>
          </el-dropdown-menu>
        </el-dropdown>
        <div class="title">
            <h2>Hue Harmony</h2>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-top: 20px">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/color">Generate</a>
            </li>
              <li class="nav-item">
                  |
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/home">Explore</a>
            </li>
              <li class="nav-item">
                  |
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/collect">My Collection</a>
            </li>
              <li class="nav-item">
                  |
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/sharing">Community</a>
            </li>
              <li class="nav-item">
                  |
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/release_share">Post</a>
            </li>
              <li class="nav-item">
                  |
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <el-container>
        <el-main>
            {% csrf_token %}
            {% block container %}
                <el-skeleton :rows="12" animated :loading="isLoading">
                    <div class="detail">
                    <el-card class="card-form">
                        <el-form :model="config" labelPosition="top">
                            <el-form-item label="color name">
                                <el-input placeholder="placeholder input" v-model="config.name"></el-input>
                            </el-form-item>
                            <el-form-item label="color classify">
                                <el-select v-model="config.comment" placeholder="placeholder select">
                                    <el-option
                                      v-for="item in [{value: 'red', label: 'red'}, {value: 'blue', label: 'blue'}, {value: 'yellow', label: 'yellow'}]"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                              </el-select>
                            </el-form-item>
                            <el-form-item label="color sort">
                                <el-select v-model="config.sort" placeholder="placeholder select">
                                    <el-option
                                      v-for="item in [{value: 'digg_count', label: 'liked'}, {value: 'comment_count', label: 'comment'}]"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                              </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" size="small" @click="getTableData">start load</el-button>
                                <el-button size="small" @click="resetData">reset load</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>

                    <div class="flex-row">
                        <div class="card" @click="open_Film(item.nid)" style="width: 18rem;" v-for="item in tableList">
                          <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">[[ item.title + item.nid ]]</h6>
                              <div v-for="(item, index) in item.content" :style="{backgroundColor: `rgb(${item.join(',')})`}" :key="index">
                              <span>
                                    [[ `rgb(${item.join(',')})` ]]
                                </span>
                            </div>
                            <p class="card-text">created by [[ item.username ]]</p>
                            <span class="card-link">
                               like: [[ item.digg_count ]]
                            </span>
                            <span class="card-link">
                                <i class="el-icon-chat-line-round">[[ item.comment_count ]]</i>
                            </span>
                          </div>
                        </div>
                    </div>

                </div>
                </el-skeleton>

            {% endblock %}
        </el-main>
    </el-container>
</div>
<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<script src="/static/elementui/index.js"></script>
<script src="https://unpkg.com/element-ui@2.15.6/lib/umd/locale/en.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>


<script>
     axios.interceptors.response.use(function (request){
        return request
    })
    axios.interceptors.response.use(function (response){
        return response.data
    })
     ELEMENT.locale(ELEMENT.lang.en);
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                colorResult: [],
                userUpdate: {
                    nid: 1,
                    userName: '',
                    userGender: '',
                    userCompany: '',
                    email: '',
                },

                userRules: {

                    userName: [
                        {required: true, message: "name is required",trigger: 'blur'}
                    ],
                     userGender: [
                        {required: true, message: "gender is required",trigger: 'blur'}
                    ],

                     userCompany: [
                        {required: true, message: "company is required",trigger: 'blur'}
                    ],

                    email: [
                        {required: true, message: "email is required", trigger: 'blur'}
                    ],

                },
                search: '',
                avatar_list_headers: {},
                article: {
                    title: '',
                    abstract: '',
                    content: ''
                },
                tableList: [],
                config: {
                    total: 10,
                    page: 1,
                    limit: 10,
                    name: '',
                    classify: '',
                    sort: ''
                },
                dialogVisible: false,
                upload_nid: 1,
                colorInput: '',
                collectData: [],
                shareForm: {
                    title: '',
                    content: ''
                },
                feedbackModel: {
                    content: ''
                },
                isLoading: false,
                sharingList: []
            }
        },

        mounted() {
            this.getTableData()
            this.getCollectData()
            this.getSharing()
        },

        methods: {
            getTableData() {
                this.isLoading = true
                axios({
                    url: '/ColourPalette/film/',
                    method: 'get',
                    params: this.config,
                }).then(reponse => {
                    this.tableList = reponse.data
                    this.isLoading = false
                })
            },

            resetData() {
                this.config = {
                    total: 10,
                    page: 1,
                    limit: 10,
                    name: '',
                    classify: '',
                    sort: ''
                }
                this.getTableData()
            },

            getCollectData() {
                axios({
                    url: '/ColourPalette/collect/',
                    method: 'get',
                }).then(reponse => {
                    this.collectData = reponse.data
                })
            },

            {#The required section does not work#}
            updateUser(nid) {
                this.$refs['userModelForm'].validate((valid) => {
                  if (valid) {
                      this.userUpdate.nid = nid
                      axios.put(`/ColourPalette/userlur/`, this.userUpdate).then(reponse => {
                        if (reponse.code !== 200) {
                            this.$message.error(reponse.msg)
                            return
                        }
                        this.$message.success(reponse.msg)
                        setTimeout(() => {
                            location.href = '/userinfo'
                        }, 1000)
                    })
                  }
                })
            },

            open_Film(nid) {
                location.href = `/film/${nid}`
            },

            changePage(page) {
                this.config.page = page
                this.getTableData()
            },

            generateColor() {
                let color = [0,0,0]
                if (this.colorInput.length !== 0) {
                    const regex = /\((.*?)\)/g
                    const matches = this.colorInput.match(regex)
                    color =  matches.map(match => match.replace(/\(|\)/g, '')).map(item => {
                        return item.split(',')
                    })[0]
                }
                const data = {
                    model : "default",
                    input : [color,[0,0,0],"N","N","N"]
                }
                const loading = this.$loading({
                  lock: true,
                  text: 'Loading',
                  spinner: 'el-icon-loading',
                  background: 'rgba(0, 0, 0, 0.7)'
                });
                axios.post("http://colormind.io/api/", JSON.stringify(data)).then(reponse => {
                    this.colorResult = reponse.result
                    loading.close()
                })
            },


            saveColor() {
                axios.post('/ColourPalette/film/', {colorResult: JSON.stringify(this.colorResult)}).then(reponse => {
                    this.$message.success('Save Successfully')
                    setTimeout(() => {
                        location.href = '/home'
                    }, 2000)

                })
            },

            releaseShare() {
                this.$refs['releaseForm'].validate((valid) => {
                  if (valid) {
                    axios.post('/ColourPalette/share/', this.shareForm).then(res => {
                    if (res.code !== 200) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.href = '/sharing'
                    }, 1000)
                })
                  } else {
                    console.log('error submit!!')
                    return false
                  }
                })
            },

            getSharing() {
                axios.get('/ColourPalette/share/').then(res => {
                    this.sharingList = res.data
                })
            },

            open(nid) {
                location.href = `/details/${nid}`
            },

            submitFeed() {
                this.$refs['feedbackForm'].validate((valid) => {
                    if (valid) {
                        axios.post('/ColourPalette/feedback/', this.feedbackModel).then(res => {
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    })
                    } else {
                    console.log('error submit!!')
                    return false
                  }
                })
            }
        }
    })


</script>
</body>
</html>

{% block script %}

{% endblock %}