<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<body>
<div id="app">
    <div :class="container">
        <div class="forms-container">
            {% csrf_token %}
            <div class="signin-signup">
                <div class="sign-in-form">
                    <h2 class="title">Login</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" v-model="login_form.username"
                               ref="login_form_username"></input>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" v-model="login_form.password"
                               ref="login_form_password"></input>
                    </div>
                    <button class="btn solid" @click="login">Login</button>
                    <el-button type="text"  @click="edit_password_dialogVisible=true">Reset Password</el-button>
                </div>
                <div class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field signup-field mb-3" :class="{'has-error': !isUsernameValid}">
                        <i class="fas fa-user position-absolute"></i>
                        <input type="text" class="form-control pl-4" placeholder="Username" v-model="sign_form.username" @input="validateUsername" ref="sign_form_username">

                    </div>
                    <span v-if="!isUsernameValid">Username must be 3-15 characters long.</span>

                    <div class="input-field signup-field mb-3" :class="{'has-error': !isEmailValid}">
                        <i class="fas fa-envelope position-absolute"></i>
                        <input type="text" class="form-control pl-4" placeholder="Email" v-model="sign_form.email" @input="validateEmail" ref="sign_form_email">

                    </div>
                    <span v-if="!isEmailValid">Invalid email format.</span>


                    <div class="input-field signup-field mb-3">
                        <i class="fas fa-lock position-absolute"></i>
                        <input type="password" class="form-control pl-4" placeholder="Password" v-model="sign_form.password" ref="sign_form_password">

                    </div>

                    <div class="input-field signup-field mb-3" :class="{'has-error': !isConfirmPasswordValid}">
                        <i class="fas fa-lock position-absolute"></i>
                        <input type="password" class="form-control pl-4" placeholder="Confirm Password" v-model="sign_form.re_password" @input="validateConfirmPassword" ref="sign_form_re_password">

                    </div>
                    <span v-if="!isConfirmPasswordValid">Passwords do not match.</span>
                    <button class="btn btn-primary" @click="submitForm">Sign Up</button>
                </div>


            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New User?</h3>
                    <br>
                    <button class="btn transparent" id="sign-up-btn" @click="increase">
                        Sign Up
                    </button>
                </div>
                <img src="/static/img/login.svg" class="image" alt=""/>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Have an Account?</h3>
                    <br>
                    <button class="btn transparent" id="sign-in-btn" @click="decrease">
                        Login
                    </button>
                </div>
                <img src="/static/img/regisster1.svg" class="image" alt=""/>
            </div>
        </div>
    </div>

    <el-dialog title="Security Question" :visible.sync="questionVisible">
    Please set answers for security questions.
      <el-form :model="sign_form" labelPosition="top">
        <el-form-item label="What is your mother's maiden name?" :rules="[{ required: true, message: 'Enter your answer', trigger: 'blur'}]">
          <el-input v-model="sign_form.maidenName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="What is the name of your childhood best friend?" :rules="[{ required: true, message: 'Enter your answer', trigger: 'blur'}]">
            <el-input v-model="sign_form.friendName" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="sign">Confirm</el-button>
      </div>
    </el-dialog>

    <el-dialog
      title="Retrieve password"
      :visible.sync="edit_password_dialogVisible"
      width="30%">
      <div class="edit_info">
          <div>
              <label for="edit_password_old_pwd">Username</label>
              <el-input id="edit_password_old_pwd" type="text" v-model="edit_password.username" ></el-input>
          </div>
          <div>
              <label for="edit_password_pwd">What is your mother's maiden name?</label>
              <el-input id="edit_password_pwd" type="text" v-model="edit_password.maidenName" ></el-input>
          </div>
          <div>
              <label for="edit_password_pwd">What is the name of your childhood best friend?</label>
              <el-input id="edit_password_pwd" type="text" v-model="edit_password.firendName"></el-input>
          </div>
          <div>
              <label for="edit_password_pwd">New Password</label>
              <el-input id="edit_password_pwd" type="password" v-model="edit_password.pwd"></el-input>
          </div>
          <div>
              <label for="edit_password_re_pwd">Confirm Password</label>
              <el-input id="edit_password_re_pwd" type="password" v-model="edit_password.re_pwd"></el-input>
          </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="edit_password_dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="edit_password_method">Confirm</el-button>
      </span>
    </el-dialog>
</div>


<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<script src="/static/elementui/index.js"></script>

<script>
    axios.interceptors.request.use(function(request){
        if (request.method === 'post') {
                let csrf_token = document.querySelector('input[name = "csrfmiddlewaretoken"]').value
                request.headers['X-CSRFToken'] = csrf_token
            }
            return request
    })

    axios.interceptors.response.use(function (response) {
        return response.data;}
    )

    new Vue({
        el: '#app',
        data: {
            container: ['container'],
            login_form: {
                username: '',
                password: '',
            },

            sign_form: {
                username: '',
                email: '',
                password: '',
                re_password: '',
                maidenName: '',
                friendName: '',
            },
            isUsernameValid: true,
            isEmailValid: true,

            isConfirmPasswordValid: true,

            edit_password: {
                username: '',
                pwd:'',
                re_pwd:'',
                maidenName: '',
                friendName: ''
            },
            dialogFormVisible: false,
            questionVisible: false,
            edit_password_dialogVisible: false
        },
        computed: {
        isFormValid() {
            return this.isUsernameValid && this.isEmailValid && this.isConfirmPasswordValid;
        }
    },

        methods: {
            login() {
                axios.post(`/ColourPalette/login/`, this.login_form).then(response => {
                    if (response.code) {
                        this.$message.error(response.msg)
                        this.$refs[`login_form_${response.self}`].focus()
                        return
                    }

                    this.$message.success(response.msg)
                    setTimeout(() => {
                        location.href = '/color'
                    }, 1000)
                })
            },

            sign() {
                axios.post(`/ColourPalette/sign/`, this.sign_form).then(response => {
                    if (response.code) {
                        this.$message.error(response.msg)
                        this.$refs[`sign_form_${response.self}`].focus()
                        return
                    }

                    this.$message.success(response.msg)
                    setTimeout(() => {
                        location.href = '/'
                    }, 1000)
                })
            },

            retrievePassword() {
                axios.post('/ColourPalette/retrieve/', this.retrieveForm).then(res => {

                })
            },

            increase() {
                this.container.push('sign-up-mode')
            },

            decrease() {
                this.container = ['container']
            },

            validateUsername() {
                const minLength = 3;
                const maxLength = 15;
                this.isUsernameValid = this.sign_form.username.length >= minLength && this.sign_form.username.length <= maxLength;
            },

            validateEmail() {
                const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                this.isEmailValid = emailRegex.test(this.sign_form.email);
            },



            validateConfirmPassword() {
                this.isConfirmPasswordValid = this.sign_form.password === this.sign_form.re_password;
            },

            submitForm() {
                this.validateUsername();
                this.validateEmail();

                this.validateConfirmPassword();

                if (this.isFormValid) {
                    this.questionVisible = true;
                } else {
                    // Handle invalid form submission here.
                }
            },


            edit_password_method() {
                axios.post('/ColourPalette/edit_password/', this.edit_password).then(res => {
                    if (res.code){
                        this.$message.error(res.msg)
                        $(`#edit_password_${res.self}`)[0].focus()
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.reload()
                    }, 1000)

                })
            },
        }

    })
</script>



</body>
</html>
