{% extends 'home.html' %}

{% block container %}
    <el-skeleton :rows="12" animated :loading="isLoading">
    <el-table
            :data="sharingList">
        <el-table-column
                prop="title"
                label="Title">
        </el-table-column>
        <el-table-column
                prop="username"
                label="Username">
        </el-table-column>
        <el-table-column
                prop="create_date"
                label="Create Time">
        </el-table-column>
        <el-table-column
                label="Operation">
            <template slot-scope="slotProps">
{#                          Reference: https://v2.vuejs.org/v2/guide/components-slots.html#Scoped-Slots-with-the-slot-scope-Attribute#}
                <el-button type="primary" size="mini" @click="open(slotProps.row.nid)">View</el-button>
            </template>
        </el-table-column>
    </el-table>
{% endblock %}