{% extends 'home.html' %}

{% block container %}
    <el-form class="userForm" :model="userUpdate" :rules="userRules" ref="userModelForm">
        {% csrf_token %}
        <el-form-item label="Name" prop="userName" >
            <el-input prop="name" v-model="userUpdate.userName" rules="userRules.userName"></el-input>
        </el-form-item>
        <el-form-item label="Gender" prop="userGender">
            <el-input v-model="userUpdate.userGender"></el-input>
        </el-form-item>
        <el-form-item label="Company" prop="userCompany">
            <el-input v-model="userUpdate.userCompany"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email" >
            <el-input v-model="userUpdate.email"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button @click="updateUser('{{ request.user.nid }}')">Submit
            </el-button>
        </el-form-item>
    </el-form>
{% endblock %}