{% extends 'home.html' %}

{% block container %}
    <div class="container mt-4">
        <div class="row">
            <!-- Profile Photo Section -->
            <div class="col-md-4">
                <div class="text-center"> <!-- Center the image -->
                    {% if user_info.avatar %}
                        <img class="img-fluid rounded-circle" style="width: 200px;" src="{{ user_info.avatar.url }}" alt="User Avatar">
                    {% else %}
                        <img class="img-fluid rounded-circle" style="width: 200px;" src="/media/avatar/default_avatar.jpg" alt="Default Avatar">
                    {% endif %}
                </div>
            </div>

            <!-- User Information Section -->
            <div class="col-md-8">
                <h2>Your Account</h2>
                <p><strong>Username:</strong> {{ request.user.username }}</p>
                <p><strong>Name:</strong> {{ user_info.name }}</p>
                <p><strong>Gender:</strong> {{ user_info.gender }}</p>
                <p><strong>Company:</strong> {{ user_info.company }}</p>
                <p><strong>Email:</strong> {{ user_info.email }}</p>

                <!-- Buttons aligned with information -->
                <div class="mt-3">
                    <a href="/user" class="btn btn-primary mr-2">Change Info</a>
                    <el-upload class="upload-demo" action="/ColourPalette/file/">
                        <el-button class="btn btn-primary mt-2">Upload Avatar</el-button>
                    </el-upload>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
