{% extends 'home.html' %}

{% block container %}
    <el-form class="userForm" :model="userUpdate" :rules="userRules">
        {% csrf_token %}
        <el-form-item label="Name" prop="userName">
            <el-input prop="name" v-model="userUpdate.userName" rules="userRules.userName" ></el-input>
        </el-form-item>
        <el-form-item label="Gender" prop="userGender">
            <el-input v-model="userUpdate.userGender" rules="userRules.userName"></el-input>
        </el-form-item>
        <el-form-item label="Company" prop="userCompany">
            <el-input v-model="userUpdate.userCompany" rules="userRules.userName"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
            <el-input v-model="userUpdate.email" rules="userRules.userName"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button @click="updateUser('{{ request.user.nid }}')">Submit
            </el-button>
        </el-form-item>
    </el-form>
{% endblock %}